<section class="section">
  <div class="container">
    <h1 class="title has-text-white text-is-centered">
    </h1>
    </br>
    <p class="has-text-white">
      Software developer with a passion for creating and learning new things. I have a strong interest in development and I am always looking for new challenges. I am a team player and I am always looking for ways to improve myself and the team I am working with.
    </p>
  </div>
</section>
